.button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#2563EB;
    height:3rem;
    color:white;
    border-radius:8px;
    font-weight:700;
    font-size:1rem;
    cursor:pointer;
}